---
layout: 'layout'
title: 'Blockchain Event'
team:
  - Chloé
  - Maxime
  - John
  - Alice
partners:
  - blue_factory
  - escp_europe
  - blockchain_france
---

<div id='block1' class='block'>
  <div class='header'>
    <div class='col-xs-12'>
      <h1>Deep into Blockchain</h1>
      <br>
      <%= partial 'animation.html.erb' %>
      <% link_to '#block3' do %>
        <h1 class='title-right'>Join us on the October 19th</h1>
      <% end %>
      <div class="social-links">
        <% link_to 'http://bit.ly/2dCaUwi', target:'_blank' do %>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id='trans1'>
  <div class='scroll-down'>
    <% link_to '#block2' do %>
      <%= image_tag 'poly.svg', style: 'height: 50px; margin-top: 5px;' %>
    <% end %>
  </div>
</div>
<div id='block2' class='block'>
  <div class='content'>
    <div class='col-xs-12'>
      <h1>Did you know?</h1>
      <br>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <p>Blockchain has been highlighted by the World Economic Forum as one of the sixth mega trends with a high impact.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-sm-offset-7">
        <p>Last year 500 million dollars have been invested in Blockchain start ups, some of them issued high funding at the first round: Digital Asset Holding reached 60 million dollars</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-sm-offset-2">
        <p>Several global companies (banks, insurances, IT firms, consulting firms...) dedicate teams to conduct researches and the number of "Blockchain" start ups multiplied by four since last year</p>
      </div>
    </div>
  </div>
</div>
<div id='trans2'>
  <div class='scroll-down'>
    <% link_to '#block3' do %>
      <%= image_tag 'poly.svg', style: 'height: 50px;margin-top: 5px;' %>
    <% end %>
  </div>
</div>
<div id='block3' class='block'>
  <div class='action'>
    <div class="row">
      <div class='col-xs-12 col-sm-5 col-sm-offset-1'>
        <%= image_tag 'pacman.svg' %>
        <h2>Simulation game</h2>
        <br>
        <p>
          Willing to discover the inner workings of blockchain?
          Come and test your luck within our 20 minutes game
          You'll experience blockchain in a way you can truly understand it!
        </p>
      </div>
      <div class='col-xs-12 col-sm-5'>
        <%= image_tag 'mouth.svg' %>
        <h2>Deep talk</h2>
        <br>
        <p>
          Come back to life after all this technology and activity insight!
          Use the cold refreshements to turn from listening to chatting mode. Share your acquired knowledge with others whilst enjoying drinks and cool music!
        </p>
      </div>
    </div>
    <div class="row">
      <div id="join">
        <% link_to '#' do %>
          <h1>I'm in!</h1>
        <% end %>
      </div>
    </div>
    <div id='subscribe-form' class='col-xs-12 hidden'>
      <form action="//deepintoblockchain.us14.list-manage.com/subscribe/post?u=6735381d7b4ac4fded121f93f&amp;id=59ddc94929" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <ul>
          <li>
            <label for="mce-EMAIL"></label>
            <input type="email" value="" name="EMAIL" class="" id="mce-EMAIL" placeholder="Enter your email address" required>
          </li>
          <li>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6735381d7b4ac4fded121f93f_59ddc94929" tabindex="-1" value=""></div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="">
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>
<div id='trans3'>
  <div class='scroll-down'>
    <% link_to '#block4' do %>
      <%= image_tag 'poly-light.svg', style: 'height: 50px;margin-top: 5px;' %>
    <% end %>
  </div>
</div>
<div id='block4' class='block'>
  <div class='team'>
    <div class="row">
      <div class="col-xs-12">
        <h1>Made with love by</h1>
      </div>
    </div>
    <div class="col-xs-8">
      <%= image_tag 'team.png' %>
    </div>
    <div class="team-name">
      <% current_page.data.team.each do |m| %>
        <h2><%= m %></h2>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="partner">
        <h1>They support us</h1>
        <% current_page.data.partners.each do |p| %>
          <div class="row">
            <div class="col-xs-12 col-sm-2">
              <%= image_tag "#{p}.png", class: 'marged' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="partner-name">
      <div class="col-xs-12">
      <% current_page.data.partners.each do |p| %>
          <h2>//<%= p.humanize %></h2>
      <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :js do %>
<script>
$( document ).ready(function() {
  $('a[href*="#"]').on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top}, 500, 'linear');
  });
  $('#join').on('click', function() {
    $(this).addClass('hidden');
    $('#subscribe-form').removeClass('hidden');
  });
});
</script>
<% end %>